torch==2.3.1
transformers==4.42.3
tokenizers==0.19.1
accelerate==0.32.0
markdown==3.6
bleach[css]~=5.0.1
psutil==6.0.0
matplotlib==3.9.0
scikit-learn==1.5.1
sentencepiece==0.2.0
protobuf==3.20.3
sacremoses==0.1.1
datasets==2.20.0
nltk==3.9.1
einops==0.8.0
pandas==2.2.2
openpyxl==3.1.5
trl==0.9.4
bitsandbytes==0.41.3
peft==0.5.0
