torch>=1.12
transformers
tokenizers
accelerate
markdown>=3.4
bleach[css]~=5.0.1
psutil
matplotlib
matplotlib-venn
scikit-learn
sentencepiece
protobuf==3.20.3
sacremoses
datasets
nltk
einops
pandas
openpyxl
trl==0.4.7
bitsandbytes==0.40.2
peft